/* Estilos para centrar un solo video */
.section_video {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Utilizar todo el alto disponible */
}

.videoPracticas_Seguridad {
    width: 100%; /* Ajustar el video al ancho del contenedor */
    height: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
}
